@using Microsoft.AspNetCore.Identity


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <p id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            Tài khoản: @UserManager.GetUserName(User)
        </p>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout">
            <button id="logout" type="submit" class="nav-link btn btn-link text-white">
                <i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" id="register" asp-controller="Account" asp-action="Register">
            <i class="fa fa-user-o "></i>Đăng ký
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="login" asp-controller="Account" asp-action="Login">
            <i class="fa fa-sign-in "></i> Đăng nhập
        </a>
    </li>
}
