
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<h2 style="text-align: center">
    WELCOME, @User.Identity.Name!!!
</h2>
<div >
    <img src="~/picture/bia3.gif" alt="">
</div>









