
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link type="text/css" rel="stylesheet" href="~/css/StyleLayout.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="~/css/StyleLayout.css" />

<br />
<div class="text-md-left">
    <h1>Đơn hàng </h1>
</div>
<br />
<div class="row">
    <div class="col-md-3">
      
    </div>
    <div class="col-md-6 text-center">
        <div class="row no-gutters align-items-center">
            <div class="col-auto">
                <i class="fa fa-search fa-2x"></i>
            </div>
            <div class="col nav-search">
                <input class="form-control" id="search" name="search" type="search" placeholder="Tìm kiếm đơn hàng">
            </div>

            <div class="col-auto">
                <input class="btn btn-md btn-secondary" id="btnSearch" name="btnSearch" type="submit" value="Tìm kiếm" />
            </div>
        </div>
    </div>
</div>
<br />
<div id="top-header">
    <div class="container">

        <p style="text-align:center"><i style="color:white">BIÊN LAI</i></p>

    </div>
</div>
<table class="table" border="1">
    <thead border="1">

        <tr>
            <td style="color:blue">Mã sản phẩm</td>
            <td style="color:blue">Tên khách hàng</td>
            <td style="color:blue">Email</td>
            <td style="color:blue">Ngày tạo đơn</td>
            <td style="color:blue">Khách phải trả</td>
       
        </tr>
    </thead>
    <tbody>
        <tr class="jumbotron">

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </tbody>
</table>

