
@{
    ViewData["Title"] = "ErrorSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
        </div>
        <h2>Oops! Không tìm thấy sản phẩm!!!</h2>
        <p>Xin lỗi, sản phẩm bạn đang tìm kiếm không tồn tại hoặc đã bán hết.</p>
        <a asp-controller="Home" asp-action="Index"> Trở về trang chủ</a>
    </div>
</div>
