@model IEnumerable<PhoneWeb.Models.Domain.Product>
@{
    ViewData["Title"] = "DetailsGalaxyA71";
}

<!-- Chon danh muc (chung) -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="navbar-brand disabled" href="#">DANH MỤC SẢN PHẨM</div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListIphone">IPHONE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListSamsung">SAMSUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListVsmart">VSMART</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListNokia">NOKIA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListOppo">OPPO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListXiaomi">XIAOMI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListHuawei">HUAWEI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListVivo">VIVO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListLG">LG</a>
            </li>
            
        </ul>
    </div>
</nav>

<!-- Ten san pham -->
<br />
<h4 class="text-danger"><i> Chi tiết sản phẩm SamSung Galaxy A71 </i></h4>
<hr />

<!-- Thong so san pham -->
<div class="row">
    <div class="col-md-12">
        <div class="row" id="gradient">
            <!-- anh chinh--->
            <div class="col-md-5">
                <br />
                <img style="width:400px; height:450px" src="https://cdn.tgdd.vn/Products/Images/42/210246/samsung-galaxy-a71-blue-400x460-400x460-1-400x460.png" class="img-responsive">
            </div>
            <!-- thong so noi bat + nut mua--->
            <div class="col-md-7 " id="overview">
                <br />
                <h3> Thông số nổi bật </h3>
                <div class="row">
                    <div class="col-xs-3 col-md-3 pb-product-details-fa">
                        <span class="fa fa-mobile fa-lg"></span>
                        <h4><strong>6.7"</strong></h4>
                        <p>	Full HD+ (1080 x 2400 Pixels)</p>
                    </div>
                    <div class="col-xs-3 col-md-3 pb-product-details-fa">
                        <span class="fa fa-camera fa-lg"></span>
                        <h4><strong> 48 MP</strong></h4>
                        <p>		Quay phim FullHD 1080p@30fps, Quay phim 4K 2160p@30fps </p>
                    </div>
                    <div class="col-xs-3 col-md-3 pb-product-details-fa">
                        <span class="fa fa-microchip fa-lg"></span>
                        <h4><strong>8GB RAM</strong></h4>
                        <p>Snapdragon 730 8 nhân</p>
                    </div>
                    <div class="col-xs-3 col-md-3 pb-product-details-fa">
                        <span class="fa fa-battery-4 fa-lg"></span>
                        <h4><strong>4500 mAh</strong></h4>
                        <p>Li-ion</p>
                    </div>
                </div>
                <!-- anh them -->
                <div class="row">
                    <div class="container">
                        <h3> Một số màu khác </h3>
                        <img style="width:200px; height:200px" src="https://cdn.tgdd.vn/Products/Images/42/210246/samsung-galaxy-a71-selver-200x200-180x125.png" class="img-responsive">
                        <img style="width:200px; height:200px" src="https://cdn.tgdd.vn/Products/Images/42/210246/samsung-galaxy-a71-blue-200x200-180x125.png" class="img-responsive">
                        <img style="width:200px; height:200px" src="https://cdn.tgdd.vn/Products/Images/42/210246/samsung-galaxy-a71-black-200x200-180x125.png" class="img-responsive">
                    </div>
                </div>
                <!--- Gia san pham-->
                <br />
                <!--- Gia san pham-->
                <br />
                <h3>Giá: <strike>10.490.000 VNĐ </strike></h3>
                <h3 class="text-danger">8.250.000 VNĐ</h3>
                <!-- nut them gio hang -->
                <br />
                @foreach (var item in Model)
                {
                    <div class="row">
                        <a asp-controller="Cart" asp-action="Buy" asp-route-id="@item.ProductId" class="btn btn-danger">  Thêm vào giỏ hàng </a>

                        <a type="submit" class="btn btn-info" asp-controller="Home" asp-action="Index" value="">Trở về trang chủ</a>
                    </div>
                }
            </div>
        </div>
        <!-- thong so chi tiet--->
        <section id="tabs" class="project-tab">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--- di chuyen trong tab -->
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <h4></h4> <a class="nav-item nav-link active" id="nav-mh-tab" data-toggle="tab" href="#nav-mh" role="tab" aria-controls="nav-mh" aria-selected="true">Màn hình</a>
                                <a class="nav-item nav-link" id="nav-cam-tab" data-toggle="tab" href="#nav-cam" role="tab" aria-controls="nav-cam" aria-selected="false">Camera</a>
                                <a class="nav-item nav-link" id="nav-cpu-tab" data-toggle="tab" href="#nav-cpu" role="tab" aria-controls="nav-cpu" aria-selected="false">Hệ điều hành - CPU</a>
                                <a class="nav-item nav-link" id="nav-lt-tab" data-toggle="tab" href="#nav-lt" role="tab" aria-controls="nav-lt" aria-selected="false">Bộ nhớ & Lưu trữ</a>
                                <a class="nav-item nav-link" id="nav-kn-tab" data-toggle="tab" href="#nav-kn" role="tab" aria-controls="nav-kn" aria-selected="false">Kết nối</a>
                            </div>
                        </nav>
                        <!--- cac tab  -->
                        <div class="tab-content" id="nav-tabContent">
                            <!--- tab1 -->
                            <div class="tab-pane fade show active" id="nav-mh" role="tabpanel" aria-labelledby="nav-mh-tab">
                                <table class="table" cellspacing="0">
                                    <tr>
                                        <td>Công nghệ màn hình</td>
                                        <td>Super AMOLED</td>
                                    </tr>
                                    <tr>
                                        <td>Độ phân giải</td>
                                        <td>	Full HD+ (1080 x 2400 Pixels) </td>

                                    </tr>
                                    <tr>
                                        <td>Màn hình rộng</td>
                                        <td>6.7"</td>
                                    </tr>
                                    <tr>
                                        <td>Mặt kính cảm ứng</td>
                                        <td>  	Kính cường lực </td>
                                    </tr>
                                </table>
                            </div>
                            <!--- tab2 -->
                            <div class="tab-pane fade" id="nav-cam" role="tabpanel" aria-labelledby="nav-cam-tab">
                                <table class="table" cellspacing="0">
                                    <tr>
                                        <td>Độ phân giải camera sau</td>
                                        <td> 	Chính 48 MP & Phụ 8 MP, 5 MP </td>
                                    </tr>
                                    <tr>
                                        <td>Độ phân giải camera trước</td>
                                        <td>	32 MP</td>
                                    </tr>
                                    <tr>
                                        <td>Quay phim</td>
                                        <td>
                                            Quay phim FullHD 1080p@30fps, Quay phim HD 720p@240fps, Quay phim FullHD 1080p@120fps, Quay phim 4K 2160p@30fps
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Đèn Flash</td>
                                        <td>Có</td>
                                    </tr>
                                    <tr>
                                        <td>Chụp ảnh nâng cao</td>
                                        <td>
                                            Góc siêu rộng (Ultrawide), Siêu cận (Macro), Zoom kỹ thuật số, Làm đẹp, Chụp bằng cử chỉ, Quay chậm (Slow Motion), A.I Camera, Xoá phông, Tự động lấy nét (AF), Chạm lấy nét, HDR, Toàn cảnh (Panorama), Chuyên nghiệp (Pro)
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--- tab3 -->
                            <div class="tab-pane fade" id="nav-cpu" role="tabpanel" aria-labelledby="nav-cpu-tab">
                                <table class="table" cellspacing="0">
                                    <tr>
                                        <td>Hệ điều hành	</td>
                                        <td>		Android 10.0 </td>
                                    </tr>
                                    <tr>
                                        <td>Chipset (hãng SX CPU)</td>
                                        <td>	Snapdragon 730 8 nhân </td>

                                    </tr>
                                    <tr>
                                        <td> Tốc độ CPU	</td>
                                        <td>		2 nhân 2.2 GHz & 6 nhân 1.8 GHz </td>

                                    </tr>
                                    <tr>
                                        <td> Chip đồ họa (GPU)</td>
                                        <td>   			Adreno 618 </td>

                                    </tr>
                                </table>
                            </div>
                            <!--- tab4 -->
                            <div class="tab-pane fade" id="nav-lt" role="tabpanel" aria-labelledby="nav-lt-tab">
                                <table class="table" cellspacing="0">
                                    <tr>
                                        <td>RAM</td>
                                        <td>	8 GB</td>
                                    </tr>
                                    <tr>
                                        <td>Bộ nhớ trong</td>
                                        <td>	128 GB</td>
                                    </tr>
                                    <tr>
                                        <td>Bộ nhớ còn lại (khả dụng)</td>
                                        <td>Khoảng 107 GB</td>
                                    </tr>
                                    <tr>
                                        <td>Thẻ nhớ ngoài</td>
                                        <td>	MicroSD, hỗ trợ tối đa 512 GB</td>
                                    </tr>
                                </table>
                            </div>
                            <!--- tab5 -->
                            <div class="tab-pane fade" id="nav-kn" role="tabpanel" aria-labelledby="nav-kn-tab">
                                <table class="table" cellspacing="0">
                                    <tr>
                                        <td>   Mạng di động</td>
                                        <td>	Hỗ trợ 4G</td>
                                    </tr>
                                    <tr>
                                        <td>SIM</td>
                                        <td>		2 Nano SIM   </td>
                                    </tr>
                                    <tr>
                                        <td>Wifi</td>
                                        <td>	Dual-band, Wi-Fi 802.11 a/b/g/n/ac/ax, Wi-Fi hotspot   </td>
                                    </tr>
                                    <tr>
                                        <td>GPS</td>
                                        <td>			BDS, A-GPS, GLONASS  </td>
                                    </tr>
                                    <tr>
                                        <td>Bluetooth</td>
                                        <td>	A2DP, LE, v5.0 </td>
                                    </tr>
                                    <tr>
                                        <td>Cổng kết nối/sạc</td>
                                        <td>		USB Type-C  </td>
                                    </tr>
                                    <tr>
                                        <td>Jack tai nghe</td>
                                        <td>			3.5 mm </td>
                                    </tr>
                                    <tr>
                                        <td>Kết nối khác</td>
                                        <td> 	OTG </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>






