
@{
    ViewData["Title"] = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="content">
            <h5 class="center padding-64"><span class="tag wide">Giới Thiệu</span></h5>
            <p class="center opacity padding1-64">
                <i>Chúng tôi yêu Thế Giới Alo</i>
            </p>
            <p>
                Cửa hàng Thế Giới Alo được thành lập từ tháng 1 năm 2020 tại TP HCM bởi Võ Văn Huân and Đoàn Thanh Sang
                .Đến nay trải qua 7 tháng phát triển cung cấp điện thoại. Trải qua nhiều năm trong lĩnh vực kinh doanh
                điện thoại di động, chúng tôi đã làm đại lí cho các nhà phân phối chính hãng danh tiếng như : Nhà phân phối Samsung, Nokia, Iphone,..., Chúng tôi luôn mong muốn mang đến cho quý khách hàng sản phẩm tốt, cùng với giá cả cạnh tranh nhất trên thị trường.
            </p>
            <p>Website chính thức của Phone Store là PhoneStore.com ra mắt vào tháng 1 năm 2020 Hoạt động liên tục đến nay, website là một trong những web chuyên kinh doanh về điện thoại.</p>
            <p>Với mong muốn mang lại sự hài lòng cao nhất cho quý khách, chúng tôi sẽ cố gắng lỗ lực để cập nhật và phát triển không ngừng.</p>
            <div class="panel leftbar light-grey">
                <p><i>"VỚI PHƯƠNG CHÂM UY TÍN QUÝ HƠN VÀNG!</i></p>
            </div>
            <p>
                Cám ơn chân thành tới quý khách hàng đã ủng hộ  TheGioiAlo.com trong thời gian vừa qua và mong muốn tiếp tục nhận được sự ủng hộ của quý khách hàng trong thời gian tới.
            </p>
            <p>
                Chân thành cám ơn và hân hạnh được phục vụ Quý Khách Hàng.
            </p>
            <img src="~/picture/Bia1.jpg" style="width:100%;max-width:1000px" class="margin-top">
            <p><strong>Giờ mở của:</strong> Mở của tất cả ngày từ 8h00 AM  đến 20h00 PM.</p>
            <p><strong>Địa chỉ:</strong> 155 Sư Vạn Hạnh, Phường 12, Quận 10, TP HCM</p>
            <p><strong>Số điện thoại 1:</strong>0286868868</p>
            <p><strong>Số điện thoại 2:</strong>0868686868</p>
            <p><strong>Email:</strong>Email@gmail.com</p>
          
        </div>
    </div>
</body>


