@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<div class="container">

    <div class="row">
        <div class="col-sm-7 col-md-6 ">
            <div>
                <h2>Thông tin liên hệ </h2>
                <p> Địa chỉ: <b> 155 Sư vạn Hạnh, Phường 14, Quận 10, Thành phố Hồ Chí Minh</b></p>
                <p>Số điện thoại 1: <b>0286868868</b></p>
                <p>Số điện thoại 2: <b>0868686868</b></p>
                <p>Email hỗ trợ : <b> Email@gmail.com</b></p>
            </div>
            <div>
                <h2>Thông tin hỗ trợ </h2>
                <p>Chính sách bảo hành</p>
                <p>Chính sách mua hàng online</p>
                <p>Chính sách bảo mật thông tin khách hàng</p>
            </div>

        </div>
        <div class="col-sm-5 col-md-6 ">
            <div>
                <h2>Địa chỉ </h2>
                <p>  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d538.1464125615497!2d106.66721038089503!3d10.776253340800718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x429098e67e8786a7!2zS2hvYSBDw7RuZyBOZ2jhu4cgVGjDtG5nIFRpbiAtIMOQ4bqhaSBI4buNYyBOZ2_huqFpIE5n4buvIFRpbiBI4buNYyBUaMOgbmggUGjhu5EgSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1594741116557!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

        </div>
    </div>
</div>

