
@{
    ViewData["Title"] = "ErrorSearch";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
        </div>
        <h2>Oops! Không tìm thấy sản phẩm!!!</h2>
        <p>Không có sản phẩm trong hệ thống.</p>
        <a asp-area="Admin" asp-controller="Products" asp-action="Index"> Trở về trang chủ</a>
    </div>
</div>

